[submodule "apps/web"]
	path = apps/web
    url = git@github.com:OctalMesh/owc-app-web.git

[submodule "apps/desktop"]
	path = apps/desktop
    url = git@github.com:OctalMesh/owc-app-desktop.git

[submodule "services/api-gateway"]
    path = services/api-gateway
    url = git@github.com:OctalMesh/owc-svc-gw.git

[submodule "services/auth"]
    path = services/auth
    url = git@github.com:OctalMesh/owc-svc-auth.git
